{% extends 'index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/profile.css') }}" />
{% endblock %}

{# contenu de la page profil de l'utilisateur #}

{% block body %}

    <main>
        Profil de l'utilisateur
    </main>

{% endblock %}
