{% set ext = 'base.html.twig' %}

{# si le contenu est chargé à partir d'une requête AJAX #}

{% if app.request.isXmlHttpRequest %}

    {% set ext = 'base_ajax.html.twig' %}

{% endif %}

{% extends ext %}


{% block body %}
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
{% endblock %}