
// colors

/*$primary: #5ce0e0;*/
@import "~bootswatch/dist/flatly/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "variables";
<<<<<<< HEAD
=======

/* @font-face {
    font-family: "razer";
    src: url("font\RazerF5Thin.woff")    
} */
>>>>>>> origin/thomas

// ----- body -----


// section crée pour hauteur main /!\ a enlever pour reponsivity ----

/* body {
    background-image: url(C:\xampp\htdocs\Projet-LFG\assets\image\grille.svg);
} */

.test {
    height: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;    

    form {
        flex: 1;
        margin: auto;
    }

<<<<<<< HEAD
     #test2 {
        min-width: 200px;
        margin: auto;
     }
=======
    #test2 {
    min-width: 200px;
    margin: auto;
    }
>>>>>>> origin/thomas

    h2, a{
        color:$vert;             
        flex: 1;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
     }
 }

<<<<<<< HEAD
=======
#test1 {
    

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    h2, 
    a {
        color: $vert;
        flex: 1;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
     }
 }

>>>>>>> origin/thomas
 label{
     color:$vert;
 }

body { 
    background-color: black;
}

// ----- header -----

header {
    background-color: $vert;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// ----- main content -----

// formulaire d'inscription

footer {
    background-color: $vert;

}

