
// colors

/*$primary: #5ce0e0;*/
@import "~bootswatch/dist/flatly/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "variables";
@font-face {
    font-family: "razer";
    src: url("font\RazerF5Thin.woff")    
}

// ----- body -----


// section crée pour hauteur main /!\ a enlever pour reponsivity ----

body{
   background-image: url(C:\xampp\htdocs\Projet-LFG\assets\image\grille.svg);
}

.test {
    height: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;    

    form {
        flex: 1;
        margin: auto;
    }

     #test2 {
        min-width: 200px;
        margin: auto;
     }

    h2, a{
        color:$vert;             
        flex: 1;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
     }
 }

 label{
     color:$vert;
 }

body { 
    background-color: black;
}

// ----- header -----

header {
    background-color: $vert;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// ----- main content -----

// formulaire d'inscription

footer {
    background-color: $vert;

}

