
// header

header {
    flex-direction: column;

    .header-menu {
        flex-direction: column;
        padding: 0;
        margin: 20px 0;

        .search-input-div {
            margin-top: 10px;
        }
    }
}

// main

.main-container-section {

    .main-menu {
        flex-direction: column;
        align-items: center;
        margin: 0 auto 20px auto;
        height: auto;
        background-color: #00000000;
    }

}

// footer