// ----- imports -----

@import "~bootswatch/dist/flatly/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "variables";

@font-face {
    font-family: 'Teko-Regular';
    src: url('fonts/Teko-Regular.ttf');
}

// ----- body -----

body {
    background-color: black;
    margin: 0;
}

// ----- header -----

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-family: 'Teko-Regular';

    .title-header {
        margin: 0 10px;

        h1 {
            font-size: 60px;
            margin: 0;
            
            a {
                color: #00f000;
            }

            a:hover,
            a:focus,
            a:active {
                text-decoration: none;
            }
        }
    }

    // header menu

    .header-menu {
        display: flex;
        margin: 0;
        align-items: center;

        img {
            border: 1px solid black;
            border-radius: 100%;
            width: 50px;
            height: 50px;
        }

        .user-menu-header {
            list-style-type: none;

            a {
                color: #00f000;
                text-decoration: none;
                margin: 0 20px 0 10px;
                font-size: 20px;
            }

            a:hover,
            a:focus,
            a:active {
                color: #00eeff;
                transition: color 0.2s linear;
            }
        }

        .actu-menu-header {
            list-style-type: none;

            a {
                color: #00f000;
                text-decoration: none;
                margin: 0 20px;
                font-size: 20px;
            }

            a:hover,
            a:focus,
            a:active {
                color: #00eeff;
                transition: color 0.2s linear;
            }
        }

        // --- input search - header ---

        .search-input-div {
            margin: 0 20px;

            .submit-search-btn {
                background-color: #1d1d1d;
                color: white;
                border: 1px solid black;
                border-radius: 5px 0 0 5px;
            }

            .search-input {
                background-color: #1d1d1d;
                color: white;
                border: 1px solid black;
                border-radius: 0 5px 5px 0;
                font-size: 18px;
            }
        }
    }
}

// ----- main contact - page 2 -----

main {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;

    // --- colonne gauche : menu body ---

    .main-menu {
        border-right: 1px solid #00f000;
        margin: 0 0 0 5px;
        padding: 0;
        width: 140px;
        height: 140px;
    
        li {
            list-style-type: none;
    
            a {
                color: white;
                text-decoration: none;
                margin: 10px 20px;
                display: flex;
                font-family: 'Teko-Regular';
                font-size: 16px;

                p {
                    margin: 0 0 0 20px;
                }
            }

            a:hover,
            a:focus,
            a:active {
                color: #00eeff;
                transition: color 0.2s linear;
            }
        }
    }

    // --- colonne milieu : contenu page ---

    .content-default {
        width: 90%;

        // carousel - partie default

        .carousel {
            width: 95%;
            margin: auto;
        }

        // section - partie default

        .section-content-default {
            border: 1px solid black;
            background-color: lightgrey;
            width: 95%;
            height: 200px;
            margin: 0 auto;
        }
    }

    .content-amis {
        display: none;
    }

    .content-groupes {
        display: none;
        width: 90%;

        .section-content-groupes {
            width: 95%;
            background-color: lightgrey;
            margin: 0 auto;
            border-radius: 5px;

            h2 {
                text-align: center;
            }

            hr {
                width: 70%;
            }

            .btn-ajout-groupe {
                border: 1px solid grey;
                color: black;
            }

            .recherche-groupe {
                border: 1px solid black;
                margin: 10px 0 0 0;
            }
        }
    }

    .content-messages {
        display: none;
    }

    // --- colonne droite : amis ---

    .main-friends {
        border-left: 1px solid #00f000;
        margin: 0 5px 0 0;
        width: 140px;
        padding-left: 5px;

        h2 {
            font-size: 22px;
            font-family: 'Teko-Regular';
            text-align: center;
            margin: 10px 0 20px 0;
            color: #00f000;
        }

        .friend-div {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .friendPhoto {
                img {
                    max-width: 50px;
                    max-height: 50px;
                    border: 1px solid black;
                    border-radius: 100%;
                    margin: 0 10px;
                }
            }
    
            p {
                color: white;
                font-family: 'Teko-Regular';
                font-size: 18px;
                margin: 0 5px 0 0;
            }
        }
    }
}

// ----- footer -----

footer {
    text-align: center;
    color: white;
    font-family: 'Teko-Regular';
    font-size: 18px;
    display: flex;
    justify-content: center;

    p:first-child {
        border-right: 1px solid white;
    }
    
    p {
        padding: 0 20px;

        a {
            color: #00f000;
        }

        a:hover,
        a:focus,
        a:active {
            color: #00eeff;
            transition: color 0.2s linear;
            text-decoration: none;
        }
    }
}