@import 'base.scss';

// contenu de la page 'profile' de l'utilisateur

main {
    border: 1px solid #00f000;
    height: 100px;
    width: 80%;
    margin: 20px auto;
    background-color: #1d1d1d;
}