<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LFG - Gaming{% endblock %}</title>
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
        {% endblock %}
    </head>
    <body>

        <!-- header -->

        {% block header %}
            <header >
                <h1>LFG</h1>
            </header>
        {% endblock %}

        <!-- body - main-content -->

        {% block main_content %}
            {% block body %}{% endblock %}
        {% endblock %}

        <!-- footer -->
        
        {% block footer %}{% endblock %}

        <!-- scripts JS -->

        {% block javascript %}
        
            <script src="{{ asset('build/js/app.js') }}"></script>
            {{ tinymce_init() }}
        
        {% endblock %}
        
    </body>
</html>