<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% block header %}{% endblock %}

        {% block main_content %}
            {% block body %}{% endblock %}
        {% endblock %}

        {% block footer %}{% endblock %}

        <script src="{{ asset('build/js/app.js') }}"></script>
        {{ tinymce_init() }}
        {% block javascripts %}{% endblock %}
        
    </body>
</html>