{% extends 'base.html.twig' %}

{# ----- header ----- #}

{% block header %}

    <header>
        <h1>LFG</h1>

        <button class="btn btn-primary btn-inscription">S'inscrire</button>
    </header>

{% endblock %}

{# ----- body ----- #}

{% block body %}

    {# formulaire d'inscription #}

    <div class="form-inscription"></div>

{% endblock %}

{# ----- footer ----- #}

{% block footer %}

{% endblock %}